.titulo {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #19B6DD;
}

.hover:hover {
  cursor: pointer;
}

.subtitulo {
  font-size: 14px;
  font-weight: 200;
  padding: 2px 0px 14px 0px;
  margin: 0;
  color: #747474;
}

.titulo-informacao {
  font-size: 14px;
  font-weight: 500;
  color: #19B6DD;
  margin: 0;
}

.informacao {
  font-size: 12px;
  font-weight: 400;
  color: #747474;
  margin-bottom: 12px;
}