@import '_variables.scss';
// Importando o tema do Angular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Montserrat", sans-serif; }

.bkg-degrad-primary {
  background: linear-gradient(to right, #19B6DD, #0D6277);
}

.btn-primary {
  width: 100%;
  background-color: #19B6DD !important;
  font-weight: bold;
}

.icon-row {
  width: 100%;
  display: flex; /* Usa flexbox para alinhar os ícones */
  justify-content: space-between; /* Distribui os ícones com espaço entre eles */
}

.address-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

