<div class="container coll-2 col-md-5 col-sm-9 col-lg-5" id="table-container">
  <div class="container-table">
    <div class="container-fluid pt-3">
      <div class="row">

        <div class="col-12">
          <button routerLink="/intro-page" class="btn">
            <img class="seta-voltar" src="../../../../../../assets/images/voltar.svg" alt="Seta de Volta">
          </button>
          <h1 class="titulo">Meus Veículos</h1>
        </div>

        <div class="custom-filter">
          <mat-form-field>
            <mat-label>Busca por versão</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
          </mat-form-field>
        </div>

        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="icon">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-icon
                matTooltip="Estes ícones representam cada carro listado abaixo. Clique para ver detalhes de cada um.">directions_car</mat-icon>
            </th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-carro" matTooltip="Ver detalhes do carro">directions_car</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="mark">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Marca</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <strong>{{userVehicle.model.brand.name}}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Modelo</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle"><strong>{{userVehicle.model.name}}</strong></td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Versão</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle"><strong>{{userVehicle.version}}</strong></td>
          </ng-container>

          <ng-container matColumnDef="Details">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Detalhes</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-table" (click)="openModalViewVeicle(userVehicle)">visibility</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Edit</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-table">edit</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Excluir</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-table">delete</mat-icon>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <!-- <ng-container matColumnDef="actions">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-table" (click)="openModalViewVeicle(userVehicle)">visibility</mat-icon>
              <mat-icon class="icone-table">edit</mat-icon>
              <mat-icon class="icone-table">delete</mat-icon>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4">Não foram encontrados dados para a pesquisa: "{{input.value}}"
            </td>
          </tr>
        </table>

        <mat-paginator class="shadow-sn" [pageSizeOptions]="[3, 5, 7]"
          aria-label="Selecione veículos por página"></mat-paginator>

        <button class="btn pulse-animation" type="button" (click)="openModalAddUserVehicle()">Novo Veículo</button>
      </div>
    </div>
  </div>
</div>