<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img class="ingenico-logo" src="../../../../assets/images/ingenico_logo 1.png" alt="ingenicoLogo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/intro-page">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/intro-page" fragment="servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openLoginModal()">Login</a>
            <!-- Auternativa para não usar o modal -->
            <!-- <a class="nav-link" routerLink="/login">Login</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
