<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img class="ingenico-logo" src="../../../../assets/images/LogoIgenico.png" alt="ingenicoLogo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ 'show': isMenuOpen }">
        <button class="close-button" *ngIf="isMenuOpen" (click)="toggleMenu()">&times;</button> <ul class="navbar-nav ms-auto"></ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" mat-button routerLink="/intro-page" (click)="closeMenu()">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" mat-button routerLink="/intro-page" fragment="contato" (click)="closeMenu()">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" mat-button routerLink="/intro-page" fragment="servicos" (click)="closeMenu()">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" mat-button (click)="openLoginModal()"><mat-icon>account_circle</mat-icon> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
