<mat-card class="reset-password-card">
  <h2 mat-dialog-title>Redefinição de senha</h2>
  <mat-card-content>Digite seu e-mail para redefinir sua senha</mat-card-content>
  <mat-dialog-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Digite seu e-mail" formControlName="email">
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Redefinir
          senha</button>

        <button mat-button color="primary" (click)="openLoginModal()">Voltar ao login</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>
