@import './scss/map-stations-map.scss';
@import './scss/map-stations.modal.scss';
@import './scss/map-stations.details-modal.scss';


/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.top-bar {
    position: fixed;
    width: 100%;
    background-color: #19B6DD;
    padding: 1.2rem 0;
    z-index: 1000;
  }