.titulo {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #19B6DD;
}

.subtitulo {
  font-size: 15px;
  font-weight: 200;
  padding: 0px 0px 0px 0px;
  /* Reduzir o padding superior */
  margin: 0;
  /* Remover o margin negativo */
  color: #747474;
}

.buttons-container {
  display: flex;
  flex-direction: column; // Empilha os botões verticalmente
  margin-top: 0; // Remove margem superior se houver
  padding-top: 0; // Remove padding se houver
  gap: 0px; // Ajusta o espaço entre os botões
  margin-bottom: -20px;
}

.buttons-container .mb-3 {
  margin-bottom: 0; // Remove margem inferior para os botões
}

.mat-error-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.if-mat-error-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: 0px;
}

.reset-password-card {
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: -20px;
}