<mat-card class="reset-password-card">
  <h2 mat-dialog-title>
    {{ isPasswordRecovery ? 'Redefinição de senha' : 'Recuperação de conta' }}
  </h2>
  <mat-card-content>
    {{ isPasswordRecovery ? 'Digite seu e-mail para redefinir sua senha' : 'Digite seu e-mail para recuperar sua conta' }}
  </mat-card-content>
  <mat-dialog-content>
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="Digite seu e-mail" type="email" required>
        <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('required')">
          E-mail obrigatório
        </mat-error>
        <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('email')">
          E-mail inválido
        </mat-error>
        <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('emailExists')">
          E-mail inexistente no sistema
        </mat-error>
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button type="submit" [disabled]="recoverPasswordForm.invalid">
          Enviar
        </button>
        <button mat-button type="button-cancel" (click)="goBack()">Voltar</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>
