<div class="container-fluid pt-3">
    <div class="col-12">

        <div class="header-container">
          <button routerLink="/intro-page" class="btn">
            <img class="seta-voltar" src="../../../../../../assets/images/voltar.svg" alt="Seta de Volta">
          </button>
          
          <h1 class="titulo">Cadastrar Veículo</h1>
          
          <button class="btn">
            <img class="filtro" src="../../../../../../assets/images/pergunta-para-fazer-login-em-circulos.svg" alt="Filto">
          </button>
        </div> 
  
        <form [formGroup]="userVehicleForm">
            <div class="content">
                <!-- Campo para selecionar a marca -->
                
                <div class="col-12 col-md-6 mb-2 w-100">
                    <mat-form-field class="custom-select">
                      <mat-label>Marca do veículo:</mat-label>
                      <input 
                        type="text" 
                        matInput 
                        formControlName="brand" 
                        [value]="userVehicleForm.get('brand')?.value?.name || ''" 
                        [matAutocomplete]="autoBrand">
                      <mat-hint id="Help" class="mat-hint-text">Selecione a <strong>marca.</strong></mat-hint>
                      <mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandSelected($event)">
                        <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                          {{ brand.name }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
                    </mat-form-field>
                  </div>
                
                <!-- Campo para selecionar o modelo -->
                <div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('brand')?.value}">
                  <mat-form-field class="custom-select">
                    <mat-label>Modelo do veículo:</mat-label>
                    <input 
                      type="text" 
                      matInput 
                      formControlName="model" 
                      [value]="userVehicleForm.get('model')?.value?.name || ''" 
                      [matAutocomplete]="autoModel">
                    <mat-hint id="Help" class="mat-hint-text">Selecione o <strong>modelo.</strong></mat-hint>
                    <mat-autocomplete #autoModel="matAutocomplete" (optionSelected)="onModelSelected($event)">
                        <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                        {{ model.name }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
                  </mat-form-field>
                </div>
  
                <!-- Campo para selecionar a versão -->
                <div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('model')?.value}">
                    <mat-form-field class="custom-select">
                      <mat-label>Versão do veículo:</mat-label>
                      <input 
                        type="text" 
                        matInput 
                        formControlName="version" 
                        [value]="userVehicleForm.get('version')?.value?.version || ''" 
                        [matAutocomplete]="autoVersion">
                      <mat-hint id="Help" class="mat-hint-text">Selecione a <strong>versão.</strong></mat-hint>
                      <mat-autocomplete #autoVersion="matAutocomplete" (optionSelected)="onVersionSelected($event)">
                        <mat-option *ngFor="let vehicle of filteredVersions | async" [value]="vehicle">
                          {{ vehicle.version }} <!-- Display the version string directly -->
                        </mat-option>
                      </mat-autocomplete>
                      <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
                    </mat-form-field>
                  </div>
  
                <!-- Campos adicionais -->
                <div class="col-12" [ngClass]="{'hidden': !userVehicleForm.get('version')?.value}">
                    <div class="row">
                      <div class="col-12 col-md-6 mb-2">
                        <mat-form-field class="custom-select w-100">
                          <mat-label>Estrada:</mat-label>
                          <input 
                            type="text"
                            matInput 
                            formControlName="mileagePerLiterRoad" 
                            required 
                            aria-describedby="Help">
                          <mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em estrada.</strong></mat-hint>
                        </mat-form-field>
                      </div>
          
                      <div class="col-12 col-md-6 mb-2">
                        <mat-form-field class="custom-select w-100">
                          <mat-label>Cidade:</mat-label>
                          <input 
                            type="text"
                            matInput 
                            formControlName="mileagePerLiterCity" 
                            required 
                            aria-describedby="Help">
                          <mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em cidade.</strong></mat-hint>
                        </mat-form-field>
                      </div>
          
                      <div class="col-12 col-md-6 mb-2">
                        <mat-form-field class="custom-select w-100">
                          <mat-label>Consumo:</mat-label>
                          <input 
                            type="text"
                            matInput 
                            formControlName="consumptionEnergetic" 
                            required 
                            aria-describedby="Help">
                          <mat-hint id="Help" class="mat-hint-text">Consumo <strong>energético.</strong></mat-hint>
                        </mat-form-field>
                      </div> 
          
                      <div class="col-12 col-md-6 mb-2">
                        <mat-form-field class="custom-select w-100">
                          <mat-label>Autonomia:</mat-label>
                          <input 
                            type="text"
                            matInput 
                            formControlName="autonomyElectricMode" 
                            required 
                            aria-describedby="Help">
                          <mat-hint id="Help" class="mat-hint-text">Autonomia <strong>em modo elétrico</strong></mat-hint>
                        </mat-form-field>
                      </div> 
                    </div>
                  </div>
                </div>
  
            <div class="buttons-container">
                <button class="btn pulse-animation w-100 mb-3" type="button">Redefinir</button>
                <button class="btn pulse-animation w-100 mb-2" type="button">Finalizar cadastro</button>
            </div>
        </form>
    </div>
    <div class="col">
      <h1 class="titulo">Cadastrar Veículo</h1>
    </div>
  
    <form [formGroup]="userVehicleForm">
      <div class="content">
        <!-- Campo para selecionar a marca -->
        <div class="col-12 col-md-6 mb-2 w-100">
          <mat-form-field class="custom-select">
            <mat-label>Marca do veículo:</mat-label>
            <input 
              type="text" 
              matInput 
              formControlName="brand" 
              [value]="userVehicleForm.get('brand')?.value?.name || ''" 
              [matAutocomplete]="autoBrand">
            <mat-hint id="Help" class="mat-hint-text">Selecione a <strong>marca.</strong></mat-hint>
            <mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandSelected($event)">
              <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                {{ brand.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
          </mat-form-field>
        </div>

        <!-- Campo para selecionar o modelo -->
        <div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('brand')?.value}">
          <mat-form-field class="custom-select">
            <mat-label>Modelo do veículo:</mat-label>
            <input 
              type="text" 
              matInput 
              formControlName="model" 
              [value]="userVehicleForm.get('model')?.value?.name || ''" 
              [matAutocomplete]="autoModel">
            <mat-hint id="Help" class="mat-hint-text">Selecione o <strong>modelo.</strong></mat-hint>
            <mat-autocomplete #autoModel="matAutocomplete" (optionSelected)="onModelSelected($event)">
              <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                {{ model.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
          </mat-form-field>
        </div>

        <!-- Campo para selecionar a versão -->
        <div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('model')?.value}">
          <mat-form-field class="custom-select">
            <mat-label>Versão do veículo:</mat-label>
            <input 
              type="text" 
              matInput 
              formControlName="version" 
              [value]="userVehicleForm.get('version')?.value?.version || ''" 
              [matAutocomplete]="autoVersion">
            <mat-hint id="Help" class="mat-hint-text">Selecione a <strong>versão.</strong></mat-hint>
            <mat-autocomplete #autoVersion="matAutocomplete" (optionSelected)="onVersionSelected($event)">
              <mat-option *ngFor="let vehicle of filteredVersions | async" [value]="vehicle">
                {{ vehicle.version }} <!-- Display the version string directly -->
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="autocomplete-icon">arrow_drop_down</mat-icon>
          </mat-form-field>
        </div>

        <!-- Campos adicionais -->
        <div class="col-12" [ngClass]="{'hidden': !userVehicleForm.get('version')?.value}">
          <div class="row">
            <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="custom-select w-100">
                <mat-label>Estrada:</mat-label>
                <input 
                  type="text"
                  matInput 
                  formControlName="mileagePerLiterRoad" 
                  aria-describedby="Help">
                <mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em estrada.</strong></mat-hint>
              </mat-form-field>
            </div>
    
            <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="custom-select w-100">
                <mat-label>Cidade:</mat-label>
                <input 
                  type="text"
                  matInput 
                  formControlName="mileagePerLiterCity" 
                  aria-describedby="Help">
                <mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em cidade.</strong></mat-hint>
              </mat-form-field>
            </div>
    
            <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="custom-select w-100">
                <mat-label>Consumo:</mat-label>
                <input 
                  type="text"
                  matInput 
                  formControlName="consumptionEnergetic" 
                  aria-describedby="Help">
                <mat-hint id="Help" class="mat-hint-text">Consumo <strong>energético.</strong></mat-hint>
              </mat-form-field>
            </div> 
    
            <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="custom-select w-100">
                <mat-label>Autonomia:</mat-label>
                <input 
                  type="text"
                  matInput 
                  formControlName="autonomyElectricMode" 
                  aria-describedby="Help">
                <mat-hint id="Help" class="mat-hint-text">Autonomia <strong>em modo elétrico</strong></mat-hint>
              </mat-form-field>
            </div> 
          </div>
          
          <!-- Mensagem de alerta -->
          <div *ngIf="isAutonomyDataMissing" class="alert alert-danger mt-2">
            Nem todos os dados de autonomia foram fornecidos pelo INMETRO. Eles podem ser inseridos, mas não é aconselhável, pois isso pode impactar nos cálculos de rotas.
          </div>
        </div>

      </div>

      <div class="buttons-container">
        <button class="btn pulse-animation w-100 mb-3" type="button" (click)="resetForm()">Redefinir</button>
        <button class="btn pulse-animation w-100 mb-2" type="button" (click)="submitForm()">Finalizar cadastro</button>
      </div>
    </form>
  </div>
