<section id="contato">
  <footer class="footer mt-auto bkg-degrad-primary">
    <mat-card class="card-fale-conosco">
      <mat-card-title>Fale Conosco</mat-card-title>
      <mat-card-content>
        <div class="social-icons">
          <a href="https://www.facebook.com/engenio.ingenio/" target="_blank" rel="noopener noreferrer">
            <mat-icon alt="facebook logo">facebook</mat-icon>
            Facebook
          </a>
          <a href="https://www.instagram.com/engenio.ingenio/" target="_blank" rel="noopener noreferrer">
            <img width="22px" src="../../../../../assets/images/instagram.svg" alt="instagram logo">
            Instagram
          </a>
        </div>
      </mat-card-content>
      <mat-card-content>
        <p>© {{ currentYear }} E-Drive. Todos os direitos reservados.</p>
      </mat-card-content>
    </mat-card>
  </footer>
</section>
