@import './scss/map-stations-map.scss';
@import './scss/map-stations.modal.scss';
@import './scss/map-stations.details-modal.scss';


/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


