.home {
  padding: 0;
  margin: 0;
}

.article-container {
  color: #f0f0f0;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  height: 100% !important;
  // margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

#read-btn {
  position: sticky;
  top: 85px;
  left: 10px;
  background-color: #00c2eb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#read-btn:hover {
  background-color: #007da0;
}

.intro {
  font-size: 18px;
  margin-bottom: 20px;
}

.mat-accordion {
  background-color: rgba(0, 130, 185, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.mat-expansion-panel-header {
  color: #00c2eb;
  font-size: 20px;
}

ul {
  list-style: inside;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;

}

.conclusion {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}
