<!-- <div>

  <app-navbar-intro></app-navbar-intro>

  <div class="container-fluid home bkg-degrad-primary">
    <button (click)="toggleRead()" id="read-btn" aria-hidden="true">
      <mat-icon>{{ isReading ? 'stop' : 'play_arrow' }}</mat-icon>
    </button>
    <div class="article-container" #fullContent>
      <h1>Dicas e Boas Práticas para Otimizar o Uso de Carros Elétricos.</h1>


      <p class="intro">
        Os carros elétricos estão ganhando popularidade como uma alternativa sustentável aos veículos movidos a
        combustíveis fósseis. Aqui estão algumas dicas e práticas recomendadas para você aproveitar ao máximo seu carro
        elétrico, otimizando sua autonomia e melhorando sua experiência de uso.
      </p>

      <div class="tip-section">
        <h2>1. Planejamento de Rotas e Pontos de Carregamento</h2>
        <p>
          Uma das principais considerações ao usar um carro elétrico é planejar a rota de forma eficiente. Certifique-se
          de:
        </p>
        <ul>
          <li>Conhecer os pontos de carregamento disponíveis por meio de aplicativos.</li>
          <li>Planejar paradas estratégicas para recarga e descanso em viagens longas.</li>
          <li>Considerar o tempo de recarga ao escolher estações de carregamento rápido.</li>
        </ul>
      </div>

      <div class="tip-section">
        <h2>2. Gerenciamento de Energia e Otimização da Bateria</h2>
        <p>Para obter o máximo de autonomia da bateria, siga essas práticas:</p>
        <ul>
          <li>Evite altas velocidades constantemente.</li>
          <li>Use o freio regenerativo para prolongar a autonomia.</li>
          <li>Reduza o uso de ar condicionado e aquecimento.</li>
          <li>Mantenha os pneus calibrados para maior eficiência.</li>
        </ul>
      </div>

      <div class="tip-section">
        <h2>3. Práticas para Carregamento Eficiente da Bateria</h2>
        <ul>
          <li>Evite cargas rápidas com frequência para prolongar a vida útil da bateria.</li>
          <li>Evite descarregar a bateria completamente regularmente.</li>
          <li>Programe o carregamento durante a noite, quando a energia pode ser mais barata.</li>
        </ul>
      </div>

      <div class="tip-section">
        <h2>4. Cuidado com a Temperatura</h2>
        <ul>
          <li>Evite temperaturas extremas, pois afetam a capacidade da bateria.</li>
          <li>Pré-aqueça ou pré-resfrie o carro enquanto carrega.</li>
        </ul>
      </div>

      <div class="tip-section">
        <h2>5. Mantenha o Carro Atualizado</h2>
        <ul>
          <li>Verifique atualizações de software regularmente.</li>
          <li>Configure alertas para manutenção preventiva.</li>
        </ul>
      </div>

      <div class="tip-section">
        <h2>6. Utilização Consciente e Sustentável</h2>
        <ul>
          <li>Combine viagens para otimizar percursos e reduzir energia.</li>
          <li>Evite deslocamentos desnecessários; opte por alternativas sustentáveis.</li>
        </ul>
      </div>



      <p class="conclusion">
        Usar um carro elétrico requer algumas adaptações em comparação aos veículos tradicionais. Com um pouco de
        planejamento e práticas sustentáveis, você pode maximizar a autonomia do seu carro, prolongar a vida útil da
        bateria e desfrutar de uma experiência de condução mais ecológica.
      </p>
    </div>
  </div>

  <app-footer></app-footer>
</div> -->

<div class="bkg-degrad-primary">
  <!-- Componente de barra de navegação personalizado -->
  <app-navbar-intro></app-navbar-intro>

  <div class="container-fluid home ">
    <button (click)="toggleRead()" id="read-btn" aria-hidden="true">
      <mat-icon>{{ isReading ? 'stop' : 'play_arrow' }}</mat-icon>
    </button>

    <div class="container my-5 article-container mat-elevation-z4" #fullContent>
      <h1>Dicas e Boas Práticas para Otimizar o Uso de Carros Elétricos.</h1>

      <p class="intro">
        Os carros elétricos estão ganhando popularidade como uma alternativa sustentável aos veículos movidos a
        combustíveis fósseis. Aqui estão algumas dicas e práticas recomendadas para você aproveitar ao máximo seu carro
        elétrico, otimizando sua autonomia e melhorando sua experiência de uso.
      </p>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let tip of tips">
          <mat-expansion-panel-header>
            <mat-icon>{{ tip.icon }}</mat-icon>
            <mat-panel-title>{{ tip.title }}.</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ tip.description }}</p>
          <ul class="custom-list">
            <li *ngFor="let point of tip.points">
              <mat-icon class="custom-icon">directions_car</mat-icon>
              {{ point }}
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>


      <p class="conclusion">
        Usar um carro elétrico requer algumas adaptações em comparação aos veículos tradicionais. Com um pouco de
        planejamento e práticas sustentáveis, você pode maximizar a autonomia do seu carro, prolongar a vida útil da
        bateria e desfrutar de uma experiência de condução mais ecológica.
      </p>
    </div>
  </div>

  <!-- Componente de rodapé personalizado -->
  <app-footer></app-footer>
</div>
