<div>
  <app-navbar-intro></app-navbar-intro>
  <div id="inicio" class="home bkg-degrad-primary">
    <section id="banner" class="banner">
      <div class="p-5">
        <img class="img-logo-custom" src="../../../../assets/images/logo-e-drive.svg" alt="logo e-drive">
      </div>
      <div>
        <h1 class="mb-5">Bem-vindo ao E-Drive</h1>
        <p class="banner-text">O E-Drive é seu parceiro ideal para planejar viagens mais econômicas, com carros
          elétricos.</p>
      </div>
      <button class="btn-primary" routerLink="/login">Comece Agora</button>
    </section>

    <section id="servicos">
      <div class="container-fluid">
        <h2>Nossos Serviços</h2>
        <hr>
      </div>

      <div class="container-fluid servicos">
        <div class="card-servico">
          <h3>Planejamento de Rotas</h3>
          <p>Obtenha as melhores rotas para sua viagem com um carro elétrico, levando em consideração pontos de
            carregamento e condições de tráfego.
          </p>
        </div>

        <div class="card-servico">
          <h3>Localização de Eletropostos</h3>
          <p>
            Encontre rapidamente os eletropostos mais próximos e disponíveis ao longo da sua rota, garantindo que você
            nunca fique sem carga.
          </p>
        </div>

        <div class="card-servico">
          <h3>Gerenciamento de Energia</h3>
          <p>
            Calcule o consumo de energia da sua viagem, ajudando a gerenciar a carga da bateria e otimizar seu percurso.
          </p>
        </div>

        <div class="card-servico">
          <h3>Histórico de Viagens</h3>
          <p>
            Acesse o histórico das suas viagens anteriores, permitindo analisar seu consumo de energia e melhorar o
            planejamento de futuras rotas.
          </p>
        </div>
      </div>

    </section>

    <section class="busca-eletropostos">
      <div>
        <h3>Encontre Eletropostos</h3>
        <hr>
        <p>Encontre os eletropostos mais próximos de sua localização e aproveite o conforto do seu carro elétrico.</p>
        <img id="img-mapa" src="../../../../assets/images/mapa.png" alt="busca-eletropostos">
      </div>
    </section>
  </div>
</div>