<div>
  <app-navbar-intro></app-navbar-intro>
  <div id="inicio" class="home bkg-degrad-primary">
    <section id="banner" class="banner">
      <mat-card class="banner-card">
        <mat-card-title>Bem-vindo ao E-Drive</mat-card-title>
        <mat-card-content>O E-Drive é seu parceiro ideal para planejar viagens com carros elétricos.</mat-card-content>
      </mat-card>
      <button mat-raised-button color="primary" (click)="openLoginModal()">Comece Agora</button>
    </section>

    <section class="servicos" id="servicos">
      <h2>Nossos Serviços</h2>

      <mat-card class="card-servico">
        <mat-card-title>Planejamento de Rotas</mat-card-title>
        <mat-card-content>
          Obtenha as melhores rotas para sua viagem com um carro elétrico, levando em consideração pontos de
          carregamento e condições de tráfego.
        </mat-card-content>
      </mat-card>

      <mat-card class="card-servico">
        <mat-card-title>Localização de Eletropostos</mat-card-title>
        <mat-card-content>
          Encontre rapidamente os eletropostos mais próximos e disponíveis ao longo da sua rota, garantindo que você
          nunca fique sem carga.
        </mat-card-content>
      </mat-card>

      <mat-card class="card-servico">
        <mat-card-title>Gerenciamento de Energia</mat-card-title>
        <mat-card-content>
          Calcule o consumo de energia da sua viagem, ajudando a gerenciar a carga da bateria e otimizar seu percurso.
        </mat-card-content>
      </mat-card>

      <mat-card class="card-servico">
        <mat-card-title>Histórico de Viagens</mat-card-title>
        <mat-card-content>
          Acesse o histórico das suas viagens anteriores, permitindo analisar seu consumo de energia e melhorar o
          planejamento de futuras rotas.
        </mat-card-content>
      </mat-card>

    </section>

    <section class="busca-eletropostos">
      <div>
        <mat-card-title>Encontre Eletropostos</mat-card-title>
        <mat-card-content>Encontre os eletropostos mais próximos de sua localização e aproveite o conforto do seu carro
          eletrônico.</mat-card-content>
        <img id="img-mapa" src="../../../../assets/images/mapa 1.png" alt="busca-eletropostos">
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
