<div class="container coll-12 col-md-5 col-sm-9 col-lg-5" id="form-container">
  <div class="container-form">
    <div class="container-fluid pt-3">

      <div class="row">
        <div class="col-12">
          <button routerLink="/intro-page" class="btn"><img class="seta-voltar"
              src="../../../../../../assets/images/voltar.svg" alt="Seta de Volta"></button>
          <h1 class="titulo">Lista de veículos</h1>
          <h2 class="subtitulo">Gerencie veículos, adicionando, editando ou excluindo</h2>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <button class="btn pulse-animation float-end" type="button">cadastrar</button>

          <mat-form-field>
            <mat-label>Busca de veículos</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>