<div class="top-bar pt-3">
  <div class="d-flex justify-content-between container-fluid">
    <div class="justify-content-start">
      <mat-icon class="arrow-back-icon" routerLink="/e-driver/dashboard">arrow_back</mat-icon>
    </div>
    <div class="flex-grow-1 text-center">
      <h1 class="text-white">Modelos de Veículos</h1>
    </div>
  </div>
</div>

<div class="container coll-2 col-md-6 col-sm-9 col-lg-5" id="table-container">
  <div class="row">
    <div class="custom-filter">
      <mat-form-field>
        <mat-label>Busca por modelo</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>
    </div>
    <div class="container">
      <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="icon">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon
              matTooltip="Este ícone representa cada modelo de carro listada abaixo. Clique para ver os detalhes de cada marca.">
              view_carousel</mat-icon>
          </th>
          <td class="td-table" mat-cell *matCellDef="let model">
            <mat-icon class="icone-emoji-flags" [matTooltip]="'ID: ' + model.id 
              + ' | Status: ' 
              + (model.activated ? 'Ativado' : 'Desativado')"
              matTooltipClass="multi-line-tooltip">view_carousel</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="marck">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Marca</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model"><strong>{{model.brand.name}}</strong></td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Modelo</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model"><strong>{{model.name}}</strong></td>
        </ng-container>

        <ng-container matColumnDef="activated">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Status</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model">
            <mat-icon class="check" *ngIf="model.activated">check</mat-icon>
            <mat-icon class="error" *ngIf="!model.activated">remove</mat-icon>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Ações</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model">
            <mat-icon class="icone-table" (click)="openModalViewModel(model)">visibility</mat-icon>
            <mat-icon class="icone-table" (click)="openModalEditModel(model)">edit</mat-icon>
            <mat-icon class="icone-table" (click)="deleteModel(model)" *ngIf="model.activated">delete</mat-icon>
            <mat-icon class="icone-table" (click)="activatedModel(model)" *ngIf="!model.activated">check</mat-icon>

            <!-- <mat-icon class="icone-table" (click)="activateModel(model)" *ngIf="!model.activated">power</mat-icon>
              <mat-icon class="icone-table" (click)="deactivateModel(model)" *ngIf="model.activated">power_off</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" colspan="4">Não foram encontrados dados para a pesquisa: "{{input.value}}"
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator class="shadow-sn" [pageSizeOptions]="[5, 10, 15, 20, 30, 40]"
      aria-label="Selecione modelos por página"></mat-paginator>

    <app-ui-button typeBtn="vivid-sky-blue" (click)="openModalAddModel()"
      text="Novo modelo"></app-ui-button>
  </div>
</div>