<div class="top-bar">
	<div class="d-flex justify-content-between container-fluid">
		<div class="flex-grow-1 text-center">
			<h1 class="text-white">Perfil</h1>
		</div>
		<div class="justify-content-end mb-3" *ngIf="isButtonVisible">
			<a class="edit-button" (click)="editData()">
				<img src="../../../../../../assets/images/edit-icon.svg" alt="">
			</a>
		</div>
	</div>
</div>


<div class="container" id="form-container">
	<!-- Formulário de visualização dos dados do usuário -->
	<div class="container-form" *ngIf="!isEditing">
		<form [formGroup]="userForm">
			<!-- Nome -->
			<div class="form-group mt-5">
				<mat-card appearance="outlined" class="border-0">
					<mat-form-field appearance="fill">
						<mat-label>Nome completo:</mat-label>
						<input matInput formControlName="name" readonly />
					</mat-form-field>
				</mat-card>
			</div>

			<!-- Data de nascimento -->
			<div class="form-group">
				<mat-card appearance="outlined" class="border-0">
					<mat-form-field class="border-0" appearance="fill">
						<mat-label>Data de Nascimento:</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="birth" readonly />
						<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</mat-card>
			</div>

			<!-- Telefone celular -->
			<div class="form-group">
				<mat-card appearance="outlined" class="border-0">
					<mat-form-field appearance="fill">
						<mat-label>Telefone:</mat-label>
						<input matInput formControlName="cellPhone" readonly />
					</mat-form-field>
				</mat-card>
			</div>

			<!-- Botões -->
			<div class="button-group mt-5 gap-3">
				<button class="logout-button text-white" mat-raised-button type="button"
					(click)="onLogout()">Sair</button>
				<a class="delete-account-button text-center" (click)="deleteAccount()">Desativar Conta</a>
			</div>
		</form>
	</div>

	<!-- Formulário de edição dos dados do usuário -->
	<div class="container-form" *ngIf="isEditing">
		<h1>Alterar Dados</h1>
		<form [formGroup]="userForm" (ngSubmit)="updateUser()">
			<!-- Nome -->
			<div class="form-group mt-5">
				<mat-card appearance="outlined" class="border-0">
					<mat-form-field>
						<mat-label>Nome completo:</mat-label>
						<input type="text" matInput formControlName="name" required aria-describedby="Help" />
						<!-- <mat-hint id="Help" class="mat-hint-text">O <strong>Usuário</strong> será utilizado para login.</mat-hint> -->
					</mat-form-field>
					<div *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('hasNumbers')">
						<mat-error class="mat-error-text">O <strong>Nome</strong> não pode conter números.</mat-error>
					</div>
					<div *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched">
						<mat-error class="mat-error-text">O <strong>Nome</strong> é obrigatório.</mat-error>
					</div>
					<div *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('minlength')">
						<mat-error class="mat-error-text">O <strong>Nome</strong> deve ter pelo menos {{
							userForm.get('name')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
					</div>
				</mat-card>
			</div>

			<!-- Data de nascimento -->
			<div class="form-group">
				<mat-card appearance="outlined" class="border-0">
					<mat-form-field>
						<mat-label>Data de nascimento:</mat-label>
						<input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="birth"
							required aria-describedby="Help" />
						<!-- <mat-hint id="Help" class="mat-hint-text">É para sua segurança. Por isso pedimos sua <strong>data</strong></mat-hint> -->
						<mat-datepicker-toggle matIconSuffix class="custom-icon" [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker>
							<mat-datepicker-actions>
								<button mat-button matDateRangePickerCancel class="cancel-button">Cancelar</button>
								<button mat-raised-button matDateRangePickerApply
									class="apply-button">Confirmar</button>
							</mat-datepicker-actions>
						</mat-datepicker>
						<mat-error class="mat-error-text">A <strong>Data de Nascimento</strong> é
							obrigatória.</mat-error>
					</mat-form-field>
				</mat-card>
			</div>

			<!-- Telefone celular -->
			<div class="form-group">
				<mat-card appearance="outlined" class="border-0">
					<div class="phone-group">
						<mat-form-field appearance="outline" class="country-code">
							<mat-label>Código do país:</mat-label>
							<input type="text" matInput formControlName="countryCode" [matAutocomplete]="auto"
								(input)="userForm.get('countryCode')?.markAsTouched()">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let country of filteredCountries | async" [value]="country.code"
									class="custom-autocomplete-option">
									{{ country.name }} ({{ country.code }})
								</mat-option>
							</mat-autocomplete>
							<!-- <mat-hint id="Help" class="mat-hint-text">Selecione o <strong>código do país</strong>.</mat-hint> -->
							<mat-error class="mat-error-codigo-text" [ngStyle]="{'white-space': 'nowrap'}" *ngIf="userForm.get('countryCode')?.hasError('required')
                && userForm.get('countryCode')?.touched">O <strong>Código</strong> é obrigatório.</mat-error>
							<mat-error class="mat-error-codigo-text" [ngStyle]="{'white-space': 'nowrap'}"
								*ngIf="userForm.get('countryCode')?.hasError('invalidCountry')">
								<strong>Código do país</strong> invalido.</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline" class="phone-number">
							<mat-label>Telefone celular:</mat-label>
							<input type="text" matInput [placeholder]="'(xx) xxxxx-xxxx'" [mask]="phoneType | phoneMask"
								formControlName="cellPhone" required aria-describedby="Help" />
							<mat-icon matSuffix class="custom-icon">phone</mat-icon>
							<!-- <mat-hint id="Help" class="mat-hint-text">Preencha apenas os <strong>números</strong>.</mat-hint> -->
							<mat-error class="mat-error-text" *ngIf="userForm.get('cellPhone')?.hasError('required')">
								O <strong>telefone celular</strong> é obrigatório.</mat-error>
							<mat-error class="mat-error-text" *ngIf="userForm.get('cellPhone')?.hasError('mask')">
								O <strong>Telefone</strong> é inválido.</mat-error>
						</mat-form-field>
					</div>
				</mat-card>
			</div>

			<!-- Botões -->
			<div class="button-group mt-5">
				<button class="apply-button" mat-raised-button color="primary" type="submit">Salvar Dados</button>
				<button class="cancel-button" mat-raised-button color="warn" type="button"
					(click)="cancelEdit()">Cancelar</button>
			</div>
		</form>
	</div>
</div>
