.top-bar {
  position: sticky;
  width: 100%;
  padding: .5rem 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Empurra a última seção para o final */
  height: 100vh; /* Ocupa toda a altura da tela */
  padding: 16px;
}

.profile-image {
  max-width: 150px;
  min-width: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Header do card */
.profile-header {
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 4%;
}

/* Contatos */
.contact-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

mat-form-field {
  width: 80% !important;
  margin-bottom: 10px;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-field {
  width: 100%;
}

button[type="submit"] {
  background-color: #19B6DD;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  /* Adiciona espaçamento superior ao botão */
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.forgot-password-link {
  display: block;
  /* Garante que o link ocupe toda a largura */
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.icon-row {
  width: 100%;
  display: flex;
  /* Usa flexbox para alinhar os ícones */
  justify-content: space-between;
  /* Distribui os ícones com espaço entre eles */
  align-items: center;
}

/* Estilos existentes otimizados */
mat-card-actions {
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
}

.actions {
  width: 100%;
  bottom: 5%;
  left: 0;
}

.pass-field i {
  right: 18px;
  top: 50%;
  font-size: 1.1rem;
  color: #000000;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.mat-error-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -17px;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espaçamento horizontal entre links */
  margin-top: 10px;
  flex-wrap: wrap;
  /* Permite quebra para a próxima linha */
  align-items: center;
  font-size: 18px;
}

.links-container a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  transition: color 0.2s;
}

.links-container a:hover {
  color: #19B6DD;
}

@media (max-width: 600px) {
  .links-container {
    flex-direction: column;
    /* Alinha os links verticalmente em telas menores */
    gap: 10px;
    /* Reduz o espaço entre links */
  }
}

@media (max-width: 670px) {
  .profile-image {
    min-width: 150px;
  }
}

@media (max-height: 600px) {
  .profile-image {
    min-width: 150px;
  }
}
