<div class="top-bar d-flex justify-content-between container-fluid">
	<div class="flex-grow-1 text-center">
		<h1 class="text-white">Menu</h1>
	</div>
</div>
<div class="menu-container container-fluid d-flex justify-content-center align-items-center">
	<div class="menu-links">
		<a routerLink="/meus-enderecos" class="d-block my-2">
			<mat-icon>home</mat-icon>
			<span>Meus Endereços</span>
		</a>
		
		<a routerLink="/meus-carros" class="d-block my-2">
			<mat-icon>directions_car</mat-icon>
			<span>Meus Carros</span>
		</a>

		<a routerLink="/planejar-viagem" class="d-block my-2">
			<mat-icon>map</mat-icon>
			<span>Planejar Viagem</span>
		</a>
	</div>
</div>
