.top-bar {
  position: fixed;
  width: 100%;
  background-color: #19B6DD;
  padding: 1.2rem 0;
  z-index: 1000;
}

.menu-container {
  padding-top: 5rem;
}

.menu-links a, span {
  text-decoration: none;
  margin-inline: 1rem;
  color: #777777;
}

.menu-links a:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  .top-bar {
    padding: .5rem 0;
    padding-top: 1rem;
  }

  .menu-container {
    padding-top: 8rem;
  }

  .menu-links{
    a{
      font-size: 2rem;
      padding-block: 2rem;
      border-bottom: 1px solid #777777
    }
  }
}
