<div class="top-bar d-flex justify-content-between align-items-center container-fluid pt-3">
  <h1 class="text-white text-center flex-grow-1">Menu</h1>
</div>

<div class="menu-container container-fluid d-flex justify-content-center flex-wrap pt-3">
  <div
    *ngFor="let link of menuLinks; let i = index"
    [ngClass]="getColumnClass(i)"
    class="menu-card d-flex flex-column align-items-center justify-content-center p-3 m-2 shadow-sm"
  >
    <a [routerLink]="link.route" class="menu-link text-center text-decoration-none">
      <mat-icon class="icon-size mb-2">{{ link.icon }}</mat-icon>
      <span class="menu-label">{{ link.label }}</span>
    </a>
  </div>
</div>

<div class="menu-container container-fluid d-flex justify-content-center pt-3" *ngIf="isAdmin">
  <div
    *ngFor="let link of adminLinks; let i = index"
    [ngClass]="getColumnClass(i)"
    class="menu-card d-flex flex-column align-items-center justify-content-center p-3 m-2 shadow-sm"
  >
    <a [routerLink]="link.route" class="menu-link text-center text-decoration-none">
      <mat-icon class="icon-size mb-2">{{ link.icon }}</mat-icon>
      <span class="menu-label">{{ link.label }}</span>
    </a>
  </div>
</div>
