<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>
  <button routerLink="/user-registration" class="btn" (click)="closeModal()"><img class="seta-voltar" src="../../../../../../assets/images/voltar.svg"
  alt="Seta de Voltar"></button>
  <h1 class="titulo">{{ title }}</h1>
  <h2 class="subtitulo">{{ subtitle }}</h2>
  <form class="row" [formGroup]="userPassword" (ngSubmit)="saveUser()">
    <div class="pass-field">
        <mat-card>
          <mat-form-field>
            <mat-label>Senha:</mat-label>
            <input
            class="password-input hidden-text"
              type="text"
              name="password"
              placeholder="Senha"
              matInput
              formControlName="password"
              required
              aria-describedby="passwordHelp"
            />
            <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
            <mat-hint [ngStyle]="{'white-space': 'nowrap'}" id="passwordHelp" class="mat-hint-text">Use uma <strong>senha</strong> forte para acessar sua conta.</mat-hint>
          </mat-form-field>
          <div *ngIf="userPassword.get('password')?.hasError('required') && userPassword.get('password')?.touched">
            <mat-error class="mat-error-text">A <strong>senha</strong> é obrigatória.</mat-error>
          </div>
        </mat-card>
    </div>
    <br><br>
    <div class="content">
      <ul class="requirement-list">
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Com pelo menos 8 caracteres de comprimento</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 número (0...9)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra minúscula (a...z)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 símbolo especial (!...$)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra maiúscula (A...Z)</span>
        </li>
      </ul>
    </div>
    <br><br>
    <div class="pass-field">
        <mat-card>
          <mat-form-field>
            <mat-label>Confirmação de senha:</mat-label>
            <input
              class="confirm-password-input hidden-text"
              type="text"
              name="confirmPassword"
              placeholder="Confirme sua senha"
              matInput
              formControlName="confirmPassword"
              aria-describedby="passwordHelp"
            />
            <i class="bi bi-eye-slash-fill eye-icon confirm-password-eye-icon"></i>
            <mat-hint id="passwordHelp" class="mat-hint-text">A confirmação deve ser igual a <strong>senha.</strong></mat-hint>
          </mat-form-field>
          <div *ngIf="userPassword.get('confirmPassword')?.hasError('required') && userPassword.get('confirmPassword')?.touched">
            <mat-error class="mat-error-text">A <strong>confirmação</strong> é obrigatória.</mat-error>
          </div>
          <div class="mat-error-text" *ngIf="userPassword.hasError('passwordMismatch') && userPassword.get('confirmPassword')?.dirty
           && !userPassword.get('confirmPassword')?.hasError('required')">
            <mat-error class="mat-error-text">As <strong>senhas</strong> não são iguais.</mat-error>
          </div>
        </mat-card>
      </div>
      <div class="mb-3 form-container">
        <div class="form-check mb-2 custom-checkbox">
          <input class="form-check-input"
          type="checkbox"
          name="newsletter"
          formControlName="newsletter"
          checked>
          <label class="form-check-label">
          Ao continuar, aceito: <br> Politicas de Privacidade <br> Termos de uso.
          </label>
        </div>
        <div *ngIf="userPassword.get('newsletter')?.invalid && userPassword.get('newsletter')?.touched" class="text-danger">
          <mat-error class="mat-error-text">Você deve <strong>aceitar os termos </strong>para continuar.</mat-error>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" [disabled]="!userPassword.valid" value="{{ btnText }}">
  </form>
</div>
