* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover:hover {
  cursor: pointer;
}

// .titulo {
//   font-size: 20px;
//   padding: 0;
//   margin: 0;
//   color: #19B6DD;
// }

// .subtitulo {
//   font-size: 12px;
//   font-weight: 200;
//   padding: 2px 0px 14px 0px;
//   margin: -50;
//   color: #747474;
// }

.titulo {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #19B6DD;
}

.subtitulo {
  font-size: 12px;
  font-weight: 200;
  padding: 0px 0px 0px 0px; /* Reduzir o padding superior */
  margin: 0; /* Remover o margin negativo */
  color: #747474;
}


.titulo-informacao {
  font-size: 16px;
  font-weight: 500;
  color: #19B6DD;
  margin: 0;
}

.informacao {
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  margin-bottom: 20px;
}

.form-check-button:checked,
input[type="submit"] {
  background-color: #19B6DD;
  border: #19B6DD;
  color: #FFF;

  &:hover {
    background-color: #32aecd;
    box-shadow: 0px 0px 5px 3px #6d6e6e;
  }

  &[disabled] {
    background-color: #444444;
    color: white;
    border: 1px solid #444444;
    cursor: not-allowed;
    /* Muda o cursor para indicar que está desabilitado */
  }
}

.custom-label {
  font-size: 10px; /* Tamanho de fonte personalizado */
}

.form-container {
  padding-left: 20px;
  /* Ajuste conforme necessário */
}

.form-check {
  display: flex;
  align-items: flex-start;
}

.custom-checkbox .form-check-input {
  width: 15px;
  height: 15px;
  border: 1px solid #19B6DD;
}

.form-check-label {
  font-size: 10px;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.form-check .form-check-input:checked {
  background-color: #19B6DD;
  border-color: #19B6DD;
}

.mb-3 {
  margin-bottom: 10rem;
  /* Espaçamento entre o input acima e o checkbox */
}

.pass-field i {
  right: 18px;
  top: 50%;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.requirement-list li {
  font-size: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.requirement-list li span {
  margin-left: 12px;
  color: #444444;
}

.requirement-list li.valid span {
  color: #0cb50c;
}

.content .requirement-list {
  margin-top: -20px;
}

.requirement-list li i {
  width: 20px;
  color: #fa0707;
  font-size: 0.9rem;
}

.requirement-list li.valid i {
  font-size: 1.2rem;
  color: #0cb50c;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.pass-field {
  position: relative;
  margin-bottom: 20px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

// SCSS para o componente de senha do usuário
.password-input.hidden-text {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

.confirm-password-input.hidden-text {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

.mat-hint-text {
  line-height: 1.5;
  text-align: left;
  margin-left: -14px;
}

#passwordHelp {
  color: #b5abab;
}

.mat-error-text {
  line-height: 1.5;
  text-align: left;
  margin-left: 2px;
  font-size: 12px;
}

//-------------------------------------------

.mat-card {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

@media screen and (max-width: 500px) {

  .container {
    padding: 15px;
  }

  .container .pass-field {
    height: 55px;
  }

  .pass-field input,
  .content p {
    font-size: 1.15rem;
  }

  .pass-field i {
    font-size: 13px;
  }

  .requirement-list li {
    font-size: 10.2px;
  }

  .requirement-list li span {
    margin-left: 7px;
  }

  .form-check-label {
    font-size: 12px;
  }
}