<div class="container-fluid p-3">
  <div class="pt-2 pb-5">
    <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>
  </div>
  <div class="d-flex justify-content-center header-container py-3">
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </div>
  <h2 class="subtitulo">{{ subtitle }}</h2>
  <form class="row" [formGroup]="userPassword" (ngSubmit)="saveUser()">
    <div class="pass-field">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label>Senha:</mat-label>
          <input class="password-input hidden-text" type="text" name="password" placeholder="Senha" matInput
            formControlName="password" required aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
        </mat-form-field>
      </mat-card>
    </div>
    <br><br>
    <div class="content">
      <ul class="requirement-list">
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Com pelo menos 8 caracteres</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 número</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra minúscula</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 símbolo especial </span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra maiúscula</span>
        </li>
      </ul>
    </div>
    <br><br>
    <div class="pass-field">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label>Confirmação de senha:</mat-label>
          <input class="confirm-password-input hidden-text" type="text" name="confirmPassword"
            placeholder="Confirme sua senha" matInput formControlName="confirmPassword"
            aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon confirm-password-eye-icon"></i>
        </mat-form-field>
        <div class="mat-error-text" *ngIf="userPassword.hasError('passwordMismatch') && userPassword.get('confirmPassword')?.dirty
           && !userPassword.get('confirmPassword')?.hasError('required')">
          <mat-error class="mat-error-text">As <strong>senhas</strong> não são iguais.</mat-error>
        </div>
      </mat-card>
    </div>
    <div class="mb-3 form-container">
      <div class="form-check mb-2 custom-checkbox">
        <input class="form-check-input" type="checkbox" name="newsletter" formControlName="newsletter" checked>
        <label class="form-check-label">
          Ao continuar, aceito: Politicas de Privacidade Termos de uso.
        </label>
      </div>
      <div *ngIf="userPassword.get('newsletter')?.invalid && userPassword.get('newsletter')?.touched"
        class="text-danger">
        <mat-error class="mat-error-text">Você deve <strong>aceitar os termos </strong>para continuar.</mat-error>
      </div>
    </div>
    <input type="submit" class="btn btn-primary border-0 shadow" [disabled]="!userPassword.valid" value="{{ btnText }}">
  </form>
</div>