<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>
  <button routerLink="#" class="btn"><img class="seta-voltar" src="../../../../../../assets/images/voltar.svg"
      alt="Seta de Volta"></button>

  <h1 class="titulo">Crie sua senha</h1>
  <h2 class="subtitulo">Escolha uma senha forte para proteger sua conta.</h2>

  <form class="row" [formGroup]="formUser" (ngSubmit)="saveUser()">
    <div class="pass-field">
        <mat-card>
          <mat-form-field>
            <mat-label>Senha:</mat-label>
            <input 
            class="password-input hidden-text"
              type="text" 
              name="password" 
              placeholder="Senha" 
              matInput 
              formControlName="password"
              appPasswordValidation 
              required aria-describedby="passwordHelp" 
            />
            <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
            <mat-hint id="passwordHelp" class="form-text">Use uma <strong>senha</strong> forte para acessar sua conta.</mat-hint>
            <mat-error *ngIf="formUser.get('password')?.hasError('required')">A <strong>senha</strong> é obrigatória.</mat-error>
            <mat-error *ngIf="formUser.get('password')?.hasError('invalidPasswordPattern') 
            && !formUser.get('password')?.hasError('required')">A <strong>senha</strong> é inválida.</mat-error>
          </mat-form-field>
        </mat-card>
    </div>
    <br><br>
    <div class="content">
      <ul class="requirement-list">
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Com pelo menos 8 caracteres de comprimento</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 número (0...9)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra minúscula (a...z)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 símbolo especial (!...$)</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra maiúscula (A...Z)</span>
        </li>
      </ul>
    </div>
    <br><br>
    <div class="pass-field">
        <mat-card>
          <mat-form-field>
            <mat-label>Confirmação de senha:</mat-label>
            <input 
              class="confirm-password-input hidden-text"
              type="text" 
              name="confirmPassword" 
              placeholder="Confirme sua senha" 
              matInput
              formControlName="confirmPassword"
              appPasswordValidation 
              required 
              aria-describedby="passwordHelp" 
            />
            <i class="bi bi-eye-slash-fill eye-icon confirm-password-eye-icon"></i>
            <mat-hint id="passwordHelp" class="form-text">A confirmação deve ser igual a <strong>senha.</strong></mat-hint>
            <mat-error *ngIf="formUser.get('confirmPassword')?.hasError('required') 
            && formUser.get('confirmPassword')?.touched">A <strong>confirmação</strong> é obrigatória.</mat-error>
            <mat-error *ngIf="!formUser.get('confirmPassword')?.hasError('required') 
            && formUser.hasError('passwordMismatch') 
            && formUser.get('confirmPassword')?.touched">As <strong>senhas</strong> não são iguais.</mat-error>
          </mat-form-field>
        </mat-card>
      </div>
    <input type="submit" class="btn btn-primary" [disabled]="!formUser.valid" value="Finalizar cadastro">
  </form>
</div>