/* Map Styles */
#map {
    height: 100%;
    width: 100%;
    background: #ddd;
}


// .return-home-btn {
//     position: absolute;
//     top: 88%; /* Definir a distância do topo da página */
//     padding: 10px 20px;
//     background-color: #19B6DD;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     z-index: 10000; /* Garante que o botão fique sobre o mapa */
// }

.icon-container {
    position: fixed; /* Permite posicionar o ícone em relação à janela da visualização */
    bottom: 75px;    /* Ajuste esta posição conforme necessário */
    left: 50px;
    z-index: 1000;   /* Certifique-se de que está na frente do mapa */
  }
  
  .return-home-btn {
    background-image: url('../../../../../../../assets/images/house-with-a-car.ico');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    padding: 30px 35px;
    border: none;
    cursor: pointer;
  }
  