<mat-card-title>
  <div class="top-bar pt-3">
    <div class="d-flex justify-content-between container-fluid">
      <div class="justify-content-start">
        <mat-icon class="arrow-back-icon" (click)="goBack()">arrow_back</mat-icon>
      </div>
      <div class="flex-grow-1 text-center">
        <h1 class="text-white">Cadastro</h1>
      </div>
      <mat-icon class="arrow-back-icon">help_outline</mat-icon>
    </div>
  </div>
</mat-card-title>
<br><br>

<div class="container-fluid p-3">
  <form [formGroup]="userForm">
    <!-- <div class="icon-row">
      <button mat-icon-button aria-label="Back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="d-flex justify-content-center header-container py-3">
      <mat-card-title>
        Cadastro
      </mat-card-title>
    </div> -->

    <!-- Nome -->
    <div class="col-md-12" class="form-floating mb-3">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Nome completo:</mat-label>
          <input type="text" name="name" matInput formControlName="name" required aria-describedby="Help" />
        </mat-form-field>

        <div *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('hasNumbers')">
          <mat-error class="mat-error-name-email">O nome não pode conter números.</mat-error>
        </div>

        <div
          *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('minlength') && !userForm.get('name')?.hasError('hasNumbers')">
          <mat-error class="mat-error-name-email">O <strong>Nome</strong> deve ter pelo menos {{
            userForm.get('name')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
        </div>

      </mat-card>
    </div>
    <!-- Email -->
    <div class="col-md-12" class="form-floating mb-3">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Email:</mat-label>
          <input type="text" name="email" matInput formControlName="email" appEmailPatternValidator required
            aria-describedby="Help" />
        </mat-form-field>

        <div *ngIf="userForm.get('email')?.hasError('invalidEmailPattern') && userForm.get('email')?.dirty
              && !userForm.get('email')?.hasError('required') && userForm.get('email')?.invalid">
          <mat-error class="mat-error-name-email">O <strong>Email</strong> é inválido.</mat-error>
        </div>

      </mat-card>
    </div>
    <!-- Data de nascimento -->
    <div class="col-md-12" class="form-floating mb-3">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Data de nascimento:</mat-label>
          <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" name="birth" formControlName="birth"
            readonly required aria-describedby="Help" />
          <mat-datepicker-toggle matIconSuffix class="custom-icon-data" [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDateRangePickerCancel class="cancel-button">Cancelar</button>
              <button mat-raised-button matDateRangePickerApply class="apply-button">Confirmar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </mat-card>
    </div>
    <!-- Código do país e telefone celular -->
    <div class="col-md-12 form-floating mb-3">
      <mat-card appearance="outlined" class="border-0">
        <div class="form-container">
          <mat-form-field class="custom-select">
            <mat-label class="custom-label">Código do país:</mat-label>
            <input type="text" matInput required formControlName="countryCode" [matAutocomplete]="auto"
              [matAutocompleteDisabled]="false" (input)="userForm.get('countryCode')?.markAsTouched()">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let country of filteredCountries | async" [value]="country.code"
                class="custom-autocomplete-option">
                {{ country.name }} ({{ country.code }})
              </mat-option>
            </mat-autocomplete>

            <mat-error class="mat-error-codigo-text" [ngStyle]="{'white-space': 'nowrap'}"
              *ngIf="userForm.get('countryCode')?.hasError('invalidCountry')"><strong>Código do país</strong>
              invalido.</mat-error>

          </mat-form-field>
          <mat-form-field appearance="fill" class="custom-input">
            <mat-label class="custom-label">Telefone celular:</mat-label>
            <input type="text" matInput [placeholder]="'(xx) xxxxx-xxxx'" [mask]="phoneType | phoneMask"
              formControlName="cellPhone" required aria-describedby="Help" />
            <mat-icon matSuffix class="custom-icon-cellfone">phone</mat-icon>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div class="continue-button">
      <app-ui-button typeBtn="vivid-sky-blue" [disabled]="!userForm.valid" (click)="continueToPasswordStep()"
        text="Continuar"></app-ui-button>
    </div>
  </form>
</div>