/* Form */

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.titulo {
  font-size: 2rem;
  color: #19B6DD;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  margin-left: -4rem;
  margin-bottom: 10px;
}

.custom-icon-cellfone {
  font-size: 20px;
  color: #19B6DD;
}

.custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 16px;
  height: 16px;
  fill: #19B6DD;
}

::ng-deep .custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 20px;
  height: 20px;
  fill: #19B6DD;
}

.apply-button {
  background-color: #19B6DD !important;
  color: white !important;
}

.cancel-button {
  background-color: red !important;
  color: white !important;
}

.custom-label {
  font-size: 12px;
  font-weight: normal;
}

#Help {
  color: #b5abab;
}

.mat-hint-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -14px;
}

.mat-hint-cellPhone-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: 6px;
}

.mat-error-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.mat-error-name-email {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: 1px;
}

.mat-error-codigo-text {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -17px;
}

.custom-autocomplete-option {
  font-size: 12px;
}

#form-container .form-floating .form-control:focus label {
  color: #222;
}

// Customização do select e input de telefone
.custom-select {
  width: 40%;
}

.custom-input {
  width: 60%;
}

.continue-button{
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
}
