.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
  /* Ajuste conforme necessário */
  margin-bottom: 25px;
}

.icon-row button {
  position: absolute;
  left: 0;
  margin-left: -5px;
}

.custom-icon-cellfone {
  font-size: 20px;
  color: #19B6DD;
}

.custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 16px;
  height: 16px;
  fill: #19B6DD;
}

::ng-deep .custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 20px;
  height: 20px;
  fill: #19B6DD;
}

.apply-button {
  background-color: #19B6DD !important;
  color: white !important;
}

.cancel-button {
  background-color: red !important;
  color: white !important;
}

.custom-label {
  font-size: 12px;
  font-weight: normal;
}

#Help {
  color: #b5abab;
}

.mat-error-text {
  margin-top: 0px;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.mat-error-name {
  margin-top: -22px;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: 2px;
}

.mat-error-name-email {
  margin-top: -22px;
  margin-bottom: 0;
  /* Zera a margem inferior */
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: 1px;
}

.mat-error-codigo-text {
  margin-top: 0px;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.error-codigo-pais-text {
  white-space: nowrap;
}

.mat-error-text-cellPhone {
  margin-top: 0px;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  margin-left: -5px;
}

.custom-autocomplete-option {
  font-size: 12px;
}

#form-container .form-floating .form-control:focus label {
  color: #222;
}

// Customização do select e input de telefone
.custom-select {
  width: 40%;
}

.custom-input {
  width: 60%;
}

.continue-button {
  position: fixed;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

@media(max-width: 360px) {
  // .custom-select {
  //   width: 100%;
  // }

  // .custom-input {
  //   width: 100%;
  // }
  .mat-error-codigo-text {
    white-space: nowrap;
  }

  .mat-error-text-cellPhone {
    white-space: nowrap;
    margin-left: 8px;
  }
}