<div class="container coll-12 col-md-5 col-sm-9 col-lg-4" id="form-container">
  <div class="container-form">
    <div class="container-fluid pt-3">
      <form [formGroup]="userForm">

        <div class="header-container">
          <app-ui-button routerLink="/login" [icon]="'bi bi-arrow-left-square-fill'" class="btn"></app-ui-button>

          <h1 class="titulo">Seus dados pessoais</h1>
        </div>

        <!-- Nome -->
        <div class="col-md-12" class="form-floating mb-3">
          <mat-card>
            <mat-form-field>
              <mat-label>Nome completo:</mat-label>
              <input 
              type="text" 
              name="name" 
              matInput 
              formControlName="name" 
              required 
              aria-describedby="Help" />
              <mat-hint id="Help" class="mat-hint-text">O <strong>Usuário</strong> será utilizado para login.</mat-hint>
              <mat-error class="mat-error-text" *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched" class="mat-error-text">O <strong>Nome</strong> é obrigatório.</mat-error>
            </mat-form-field>

            <div *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('hasNumbers')">
              <mat-error class="mat-error-name-email">O <strong>Nome</strong> não pode conter números.</mat-error>
            </div>

            <div
              *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('minlength') && !userForm.get('name')?.hasError('hasNumbers')">
              <mat-error class="mat-error-name-email">O <strong>Nome</strong> deve ter pelo menos {{
                userForm.get('name')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
            </div>

          </mat-card>
        </div>
        <!-- Email -->
        <div class="col-md-12" class="form-floating mb-3">
          <mat-card>
            <mat-form-field>
              <mat-label>Email:</mat-label>
              <input 
              type="text" 
              name="email" 
              matInput 
              formControlName="email" 
              appEmailPatternValidator 
              required
              aria-describedby="Help" />
              <mat-hint id="Help" class="mat-hint-text">Use seu melhor <strong>e-mail</strong> para acessar a sua conta</mat-hint>
              <mat-error class="mat-error-text" *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">O <strong>Email</strong> é obrigatório.</mat-error>
            </mat-form-field>

            <div *ngIf="userForm.get('email')?.hasError('invalidEmailPattern') && userForm.get('email')?.dirty
              && !userForm.get('email')?.hasError('required') && userForm.get('email')?.invalid">
              <mat-error class="mat-error-name-email">O <strong>Email</strong> é inválido.</mat-error>
            </div>

            <div *ngIf="userForm.get('email')?.hasError('emailExists')">
              <mat-error class="mat-error-name-email"><strong>Este e-mail já está cadastrado.</strong> Por favor, use outro e-mail.</mat-error>
            </div>

          </mat-card>
        </div>
        <!-- Data de nascimento -->
        <div class="col-md-12" class="form-floating mb-3">
          <mat-card>
            <mat-form-field>
              <mat-label>Data de nascimento:</mat-label>
              <input 
              matInput 
              [matDatepicker]="picker" 
              [min]="minDate" 
              [max]="maxDate" 
              name="birth"
              formControlName="birth" 
              readonly 
              required 
              aria-describedby="Help" />
              <mat-hint id="Help" class="mat-hint-text">É para sua segurança. Por isso pedimos sua <strong>data</strong></mat-hint>
              <mat-datepicker-toggle matIconSuffix class="custom-icon" [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker>
                <mat-datepicker-actions>
                  <button mat-button matDateRangePickerCancel class="cancel-button">Cancelar</button>
                  <button mat-raised-button matDateRangePickerApply class="apply-button">Confirmar</button>
                </mat-datepicker-actions>
              </mat-datepicker>
              <mat-error class="mat-error-codigo-text">A <strong>Data de Nascimento</strong> é obrigatoria.</mat-error>
            </mat-form-field>
          </mat-card>
        </div>
        <!-- Código do país e telefone celular -->
        <div class="col-md-12 form-floating mb-3">
          <mat-card>
            <div class="form-container">
              <mat-form-field class="custom-select">
                <mat-label>Código do país:</mat-label>
                <input 
                type="text" 
                matInput 
                required 
                formControlName="countryCode" 
                [matAutocomplete]="auto"
                [matAutocompleteDisabled]="false"
                (input)="userForm.get('countryCode')?.markAsTouched()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let country of filteredCountries | async" [value]="country.code"
                    class="custom-autocomplete-option">
                    {{ country.name }} ({{ country.code }})
                  </mat-option>
                </mat-autocomplete>
                <mat-hint [ngStyle]="{'white-space': 'nowrap'}" id="Help" class="mat-hint-text">Selecione o <strong>código do país.</strong></mat-hint>
                
                <mat-error class="mat-error-codigo-text" [ngStyle]="{'white-space': 'nowrap'}" *ngIf="userForm.get('countryCode')?.hasError('required')
                && userForm.get('countryCode')?.touched">O <strong>Código</strong> é obrigatório.</mat-error>

                <mat-error class="mat-error-codigo-text" [ngStyle]="{'white-space': 'nowrap'}"
                  *ngIf="userForm.get('countryCode')?.hasError('invalidCountry')"><strong>Código do país</strong> invalido.</mat-error>

              </mat-form-field>
              <mat-form-field appearance="fill" class="custom-input">
                <mat-label>Telefone celular:</mat-label>
                <input 
                type="text" 
                matInput 
                [placeholder]="'(xx) xxxxx-xxxx'" 
                [mask]="phoneType | phoneMask"
                formControlName="cellPhone" 
                required 
                aria-describedby="Help" />
                <mat-icon matSuffix class="custom-icon">phone</mat-icon>
                <mat-hint [ngStyle]="{'white-space': 'nowrap'}" id="Help" class="mat-hint-cellPhone-text">Preencha apenas os <strong>números.</strong></mat-hint>
                
                <mat-error class="mat-hint-cellPhone-text" [ngStyle]="{'white-space': 'nowrap'}"
                  *ngIf="userForm.get('cellPhone')?.hasError('required')">O <strong>telefone celular</strong> é obrigatório.</mat-error>
                <mat-error class="mat-hint-cellPhone-text" [ngStyle]="{'white-space': 'nowrap'}"
                  *ngIf="userForm.get('cellPhone')?.hasError('mask') && userForm.get('cellPhone')?.dirty">O <strong>Telefone</strong> é inválido.</mat-error>

              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <app-ui-button typeBtn="vivid-sky-blue" [pulseAnimation]="true" [disabled]="!userForm.valid"
          (click)="continueToPasswordStep()" text="Continuar"></app-ui-button>
      </form>
    </div>
  </div>
</div>