.top-bar {
  position: sticky;
  width: 100%;
  background-color: #19B6DD;
  padding: .5rem 0;
}

/* Table */
#table-container {
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.container-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0% 0%;
  text-align: left;
  font-size: 10px;
}

.filtro {
  width: 20px;
  transform: rotate(0deg);
  transition: 0.3s linear all;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #19B6DD;
    transform: translateX(10px);
  }
}

.custom-filter {
  display: flex;
  width: 100%;
  margin-bottom: -15px;
}

.custom-filter mat-form-field {
  flex: 1;
}

.titulo {
  font-size: 20px;
  color: #19B6DD;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  margin-left: -3rem;
}

.subtitulo {
  font-size: 16px;
  font-weight: 300;
  color: #747474;
  padding: 2px 0px 14px 0px;
  margin: 0 !important;
}

.no-data {
  padding: 8px 14px;
  font-weight: 400;
  font-size: 14px;
  color: #19B6DD;
}

th {
  font-size: 12px;
  font-weight: 350;
  color: #5a5a5a;
}

td {
  font-size: 9px;
  font-weight: 350;
  color: #8f8f8f;
}

.icone-table {
  font-size: 18px;
  color: #767676;
  margin-right: 10;
  transform: rotate(0deg);
  transition: 0.3s linear all;

  &:hover {
    cursor: pointer;
    color: #19B6DD;
    transform: rotate(359deg);
  }
}

.icone-emoji-flags {
  font-size: 20px;
  color: #767676;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #19B6DD;
  }
}

.th-table mat-icon {
  font-size: 20px;
}

.btn{
  background-color: #19B6DD;
}

mat-paginator {
  justify-content: center !important;
  padding: 0 !important;
  flex-direction: row-reverse !important;
  padding-block: 1rem !important;
}